.burger-ingredients-title {
  padding: 40px 0px 20px 0px;
}
.burger-items {
  display: flex;
  flex-wrap: wrap;
  padding: 24px 12px 40px 16px;
}
.burger-items-price,
.burger-items-price {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 4px;
  justify-content: center;
  text-align: center;
}
.burger-item {
  width: 50%;
  padding: 16px 0px;
  cursor: pointer;
}
.burger-image {
  display: flex;
  justify-content: center;
}

.burger-ingredients-block {
  overflow-y: scroll;
  max-height: 600px;
}

.burger-ingredients-block::-webkit-scrollbar {
  width: 1px !important;
  background-color: #fff !important;
}
.burger-ingredients-block::-webkit-scrollbar-track {
  background-color: #fff;
}

.burger-ingredients-block::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 4px; /* Закругленные углы полосы прокрутки */
}
