.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(146, 146, 146, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-block {
  position: absolute;
  top: 25%;
  left: 30%;
  width: 720px;
  height: 539px;
  background-color: #1c1c21;
  border-radius: 40px;
}
.header-modal-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 40px 0px 40px;
}
.header-modal-block h1 {
  padding-bottom: 5px;
}
.burger-item-modal-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.burger-item-modal-name {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 32px;
}
.burger-item-modal-specifications-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.burger-item-modal-specifications {
  text-align: center;
  width: 130px;
}
.header-modal-block svg {
  cursor: pointer;
}
.burger-item-modal-image img {
  width: 480px;
  height: 240px;
}
.order {
  padding-bottom: 60px;
}
