.burgerConstructorBlock {
  padding: 100px 16px 40px;
}
.burgerConstructorContainer {
  max-height: 600px;
}

.burgerConstructorElement {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.finalPriceBlock {
  display: flex;
  gap: 40px;
  justify-content: end;
  padding: 40px 0px 10px;
}
.finalPriceItem {
  display: flex;
  gap: 10px;
  align-items: center;
}
.finalPriceItem svg {
  width: 36px;
  height: 36px;
}

.burgerConstructorBlockContent {
  padding: 10px 16px 40px;
}
.burgerBunItem {
  margin-left: 29px;
  padding: 10px 0px;
}

.burgerItemConstructor {
  overflow-y: scroll;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
