.App-header {
  max-width: 1920px;
  height: 88px;
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #1c1c21;
}
.navigation-panel {
  width: 1280px;
  height: 56px;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
.navigation-panel-left {
  display: flex;
  gap: 8px;
}
.navigation-panel-icon-text {
  display: flex;
}
.navigation-panel-icon {
  width: 24px;
  height: 24px;
}
.logo {
  position: absolute;
  left: 495px;
  top: 8px;
}
.logo svg {
  height: 40px;
}
